/* Estilos Gerais */
html {
  scroll-behavior: smooth;
}


body {
	font-family: Arial, Helvetica, sans-serif;
  background-color: #ECE8E1;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

.img_home {
  margin-left: -1060px;
  margin-top: -7px;
  width: 41px;
  height: 40px;
  }

.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: #111111;
  padding: 22px;
  z-index: 10;
}
.header_menu {
  text-align: left;
}

.header_menu ul li {
  text-align: right;
  display: inline;
  margin-left: 35px;
  padding-bottom: 30px;
}
.header_menu ul li a {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 12px;
	line-height: 30px;
}

.header_menu ul li a:hover {
  color: #fff;
  border: 2px solid #7E7E7E;
  border-radius: 7px;
  background-color: #7E7E7E;
  padding: 5px;
}
/* introdução */

.introducao {
  width: 100%;
  height: 800px;
  background: url("../img/valorant-warm-up-hd-wallpaper-uhdpaper.com-62@1@g.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.introducao p {
  padding-top: 180px;
  padding-left: 324px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.introducao h1 {
  text-align: center;
    font-size: 140px;
    color: #FFF;
    font-weight: normal;
    padding: 20px;
}

.botao {
  border: 1px solid #fff; 
  background-color: #FF4655;
  padding: 15px 30px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 400px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.botao:hover {
	color: #fff;
  background-color: #111111;
	border-color: #fff;
}

/* Noticias */

.noticias_topo:after {
	content: "";
	display: block;
	width: 1262px;
	height: 12px;
	background: #FF4655;
	margin: 10px;
  margin-top: 2px;
  margin-left: -100px;
}

.noticias {
  padding: 60px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.noticias_topo {
  text-align: left;
  text-transform: uppercase;
  font-size: 120px;
  margin-top: 90px;
  line-height: 95px;
  padding-left: 100px;
  color: #FF4655;
  scroll-margin-top: 90px;
}

.icone_noticias img {
  padding-left: 50px;
  margin-top: -70px;
}

.noticias span {
  padding-left: 53px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #FF4655;
}

.noticias h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 390px;
  color: #383E3A;
}

.container_noticias {
  width: 100%;
  height: 800px;
  background: #ECE8E1;
}


.tamanho_fixo {
  height: 50px;
  padding-left: 1px;
}

/* Visão geral - ato 3 */

.container_ato {
background:url("../img/fade.jpg") no-repeat;
background-position: center;
width: 100%;
height: 900px;
}

.container_ato p {
letter-spacing: .1em;
 text-align: left;
 padding-left: 95px;
 padding-top: 250px;
 font-weight: 500;
 font-size: 30px;
 font-family: Arial, Helvetica, sans-serif;
 color: #fff;
}

.container_ato h3 {
  text-align: left;
  padding-left: 95px;
  padding-top: -15px;
  font-weight: bold;
  font-size: 140px;
  color:#fff;
}

.botao_ato {
  border: 1px solid #fff; 
  background-color: #FF4655;
  padding: 15px 30px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 95px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
}

.botao_ato:hover {
	color: #fff;
  background-color: #192639;
	border-color: #fff;
}
/* nós somos valorant */

.container_info {
  width: 100%;
  height: 670px;
}

.valorant_info h3 {
  margin-top: 50px;
  font-size: 120px;
  padding-left: 170px;
  color: #111111;
  scroll-margin-top: 70px;
}

.valorant_info:after {
	content: "";
	display: block;
	width: 1100px;
	height: 1px;
	background: #383E3A;
	margin: 110px;
  margin-top: -492px;
}

.valorant_info p {
  font-size: 20px;
  margin-bottom: -20px;
  padding-top: 30px;
  padding-left: 220px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
}

.valorant_info span {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 3em;
    padding-top: 30px;
    padding-left: 220px;
    padding-right: 820px;
    display: block;
    color: #768079;
}

.botao_valorant {
  border: 1px solid #fff; 
  background-color: #FF4655;
  padding: 15px 30px;
  color: #fff;
  font-size: 14px;
  position: absolute;
  left: 220px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  }

  .botao_valorant:hover {
    color: #fff;
    background-color: #111111;
    border-color: #fff;
  }

  .video_valorant video {
    margin-left: 640px;
    width: 625px;
    height: 510px;
  }

  .video_valorant:after {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    background: #FF4655;
    margin: 640px;
    margin-top: -84px;
  }
/* Agentes */

.raze_valorant {
  width: 700px;
  height: 700px;
  margin-top: -560px;
}

.agentes_container {
  width: 100%;
  height: 700px;
  background: #FF4655;
  padding-top: 40px;
}

.agentes_container h3 {
  text-align: left;
  font-size: 120px;
  line-height: 105px;
  margin-left: 740px;
  margin-top: 40px;
  color: #FFF;
}

.agentes_container:after {
  content: "";
  display: block;
  width: 400px;
  height: 1px;
  background: #fff;
  margin-left: 740px;
  margin-top: -645px;
}

.agentes_container p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 50px;
  margin-left: 740px;
  color: #fff;
}

.agentes_container span {
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 3em;
  padding-top: 30px;
  padding-left: 740px;
  padding-right: 220px;
  display: block;
  color: #fff;
}

.botao_agentes {
  margin-top: -150px;
  border: 1px solid #ECE8E1; 
  background-color: #fff;
  padding-top: 50px;
  padding: 15px 30px;
  color: #111111;
  font-size: 14px;
  position: absolute;
  left: 740px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  }

  .botao_agentes:hover {
    color: #fff;
    background-color: #111111;
    border-color: #fff;
  }

  /* MAPAS */
.mapas {
  width: 100%;
  height: 800px;
  background: url("../img/Web\ 1920\ –\ 1.jpg");
}

.mapas h3 {
  padding-top: 50px;
  margin-left: 120px;
  font-size: 120px;
  color: #fff;
}

.mapas p {
  padding-top: 30px;
  margin-left: 120px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
}

.mapas span {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  margin-bottom: 3em;
  padding-top: 30px;
  padding-left: 120px;
  padding-right: 820px;
  display: block;
  color: #fff;
}

.botao_mapas {
  margin-top: -15px;
  border: 1px solid #ECE8E1; 
  background-color: #fff;
  padding-top: 50px;
  padding: 15px 30px;
  color: #111111;
  font-size: 14px;
  position: absolute;
  left: 120px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  }

  .botao_mapas:hover {
    color: #fff;
    background-color: #000;
    border-color: #fff;
  }
/* footer */

.footer {
  width: 100%;
  height: 130px;
  background: #FF4655;
}

.footer p {
  padding-top: 10px;
  margin-left: 520px;
  text-align: left;
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Tungsten';
  color: #fff;
}

.footer span {
  margin-left: 450px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Arial';
  color: #fff;
}

.redes {
  padding-top: 10px;
  margin-left: 520px;
}

.redes li {
  display: inline-block;
  margin-left: 1px;
}

.redes ul li a {
	border: 4px solid #000;
	display: block;
}

.redes ul li a:hover {
	border-color: #fff;
}